.listings {
  background-color: var(--bg-light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top: 1px solid black;
}

.cards-collection {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 1rem;
  
}

/* In your Listings.css or Home.css */
.search-results {
    background-color: #f8f9fa;
    border-radius: 8px;
    margin: 2rem 0;
    padding: 1rem;
}

.search-results h4 {
    color: #2d5aa0; /* or whatever color you prefer */
}

.card-div {
    display: flex;
    justify-content: center;
}